*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style-type: none;
}
body{
	background: rgb(197, 191, 191);
}
h2{
    padding-top: 15px;
}

.col{
	float: left;
}
main{
	width: 100%;
	height: auto;
	min-height: 720px;
	margin-top: 5%; 
}
.img-avatar{
	height: auto;
    width: 200px;
    border: 5px solid #464646;
    overflow: hidden;
    margin: 0 auto 15px;
    opacity: 1;
    margin-bottom: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
img{
	max-width: 100%;
    height: auto;
	vertical-align: middle;
	transform: rotate(385deg)
}
aside{
	width: 20%;
	margin-right: 5% !important;
    margin-left: 5% !important;
}

.section-nav{
	margin-top: 50px;
}
.nav-menu{
	background: #CDF;
    margin: 10px 0px;
    padding: 5px 20px;
    border-radius: 91 px;
}

article{
	width: 65%;
	margin-right:5% !important;
}

section{
	background: rgb(239, 230, 230);
	margin-bottom: 30px;
}